<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
	<category label="ResolveURL">
		<setting default="true" id="allow_universal" label="Enable Universal Resolvers" type="bool"/>
		<setting default="true" id="allow_popups" label="Enable PopUps" type="bool"/>
		<setting default="true" id="auto_pick" label="Automatically pick best quality" type="bool"/>
		<setting default="true" id="use_cache" label="Use Function Cache" type="bool"/>
		<setting id="reset_cache" type="action" label="Reset Function Cache" action="RunPlugin(plugin://script.module.resolveurl/?mode=reset_cache)"/>
		<setting id="personal_nid" label="Your NID" type="text" visible="false" default=""/>
		<setting id="last_ua_create" label="last_ua_create" type="number" visible="false" default="0"/>
		<setting id="current_ua" label="current_ua" type="text" visible="false" default=""/>
		<setting id="addon_debug" label="addon_debug" type="bool" visible="false" default="false"/>
	</category>
	<category label="Universal Resolvers">
		<setting label="AllDebrid" type="lsep"/>
		<setting id="AllDebridResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="AllDebridResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="AllDebridResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting id="AllDebridResolver_torrents" type="bool" label="Torrent Support" default="true"/>
		<setting id="AllDebridResolver_cached_only" enable="eq(-1,true)" type="bool" label="Cached torrents only" default="false" />
		<setting id="AllDebridResolver_auth" type="action" label="(Re)Authorise My Account" action="RunPlugin(plugin://script.module.resolveurl/?mode=auth_ad)"/>
		<setting id="AllDebridResolver_reset" type="action" label="Reset My Authorisation" action="RunPlugin(plugin://script.module.resolveurl/?mode=reset_ad)"/>
		<setting id="AllDebridResolver_token" visible="false" type="text" default=""/>
		<setting label="Debrid-Link.fr" type="lsep"/>
		<setting id="DebridLinkResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="DebridLinkResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="DebridLinkResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting id="DebridLinkResolver_torrents" type="bool" label="Torrent Support" default="true"/>
		<setting id="DebridLinkResolver_cached_only" enable="eq(-1,true)" type="bool" label="Cached torrents only" default="false" />
		<setting id="DebridLinkResolver_auth" type="action" label="(Re)Authorise My Account" action="RunPlugin(plugin://script.module.resolveurl/?mode=auth_dl)"/>
		<setting id="DebridLinkResolver_reset" type="action" label="Reset My Authorisation" action="RunPlugin(plugin://script.module.resolveurl/?mode=reset_dl)"/>
		<setting id="DebridLinkResolver_token" visible="false" type="text" default=""/>
		<setting id="DebridLinkResolver_refresh" visible="false" type="text" default=""/>
	</category>
	<category label="Resolvers 1">
		<setting label="abcvideo" type="lsep"/>
		<setting id="ABCVideoResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="ABCVideoResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="ABCVideoResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="AdultSwim" type="lsep"/>
		<setting id="AdultSwimResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="AdultSwimResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="AdultSwimResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="aliez" type="lsep"/>
		<setting id="AliezResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="AliezResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="AliezResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="amazon_clouddrive" type="lsep"/>
		<setting id="AmazonCloudResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="AmazonCloudResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="AmazonCloudResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="anavids.com" type="lsep"/>
		<setting id="AnaVidsResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="AnaVidsResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="AnaVidsResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="ani-stream" type="lsep"/>
		<setting id="AniStreamResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="AniStreamResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="AniStreamResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="bitchute.com" type="lsep"/>
		<setting id="BitchuteResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="BitchuteResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="BitchuteResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="brighteon" type="lsep"/>
		<setting id="BrighteonResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="BrighteonResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="BrighteonResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="castamp" type="lsep"/>
		<setting id="CastampResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="CastampResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="CastampResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="cda" type="lsep"/>
		<setting id="CdaResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="CdaResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="CdaResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="chromecast.video" type="lsep"/>
		<setting id="ChromecastResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="ChromecastResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="ChromecastResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="clicknupload" type="lsep"/>
		<setting id="ClickNUploadResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="ClickNUploadResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="ClickNUploadResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="clipwatching" type="lsep"/>
		<setting id="ClipWatchingResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="ClipWatchingResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="ClipWatchingResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="cloud.mail.ru" type="lsep"/>
		<setting id="MailRuResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="MailRuResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="MailRuResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="cloudb" type="lsep"/>
		<setting id="CloudbResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="CloudbResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="CloudbResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="cloudvideo" type="lsep"/>
		<setting id="CloudVideoResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="CloudVideoResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="CloudVideoResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="dailymotion" type="lsep"/>
		<setting id="DailymotionResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="DailymotionResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="DailymotionResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="datemule" type="lsep"/>
		<setting id="DateMuleResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="DateMuleResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="DateMuleResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="doodstream" type="lsep"/>
		<setting id="DoodStreamResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="DoodStreamResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="DoodStreamResolver_login" type="bool" label="login" default="true" visible="false"/>
	</category>
	<category label="Resolvers 2">
		<setting label="downace" type="lsep"/>
		<setting id="DownaceResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="DownaceResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="DownaceResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="easyload" type="lsep"/>
		<setting id="EasyLoadResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="EasyLoadResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="EasyLoadResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="entervideo" type="lsep"/>
		<setting id="EnterVideoResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="EnterVideoResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="EnterVideoResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="facebook" type="lsep"/>
		<setting id="FacebookResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="FacebookResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="FacebookResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="Video Quality" id="FacebookResolver_quality" type="enum" values="High|Standard" default="0" />
		<setting label="fastplay.sx" type="lsep"/>
		<setting id="FastplayResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="FastplayResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="FastplayResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="fembed" type="lsep"/>
		<setting id="FembedResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="FembedResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="FembedResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="filepup" type="lsep"/>
		<setting id="FilePupResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="FilePupResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="FilePupResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="flashx" type="lsep"/>
		<setting id="FlashxResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="FlashxResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="FlashxResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="flix555" type="lsep"/>
		<setting id="VidFileResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="VidFileResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="VidFileResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="GamoVideo" type="lsep"/>
		<setting id="GamoVideoResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="GamoVideoResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="GamoVideoResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="generic" type="lsep"/>
		<setting id="ResolveGeneric_priority" type="number" label="Priority" default="100"/>
		<setting id="ResolveGeneric_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="ResolveGeneric_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="gofile" type="lsep"/>
		<setting id="GofileResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="GofileResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="GofileResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="googlevideo" type="lsep"/>
		<setting id="GoogleResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="GoogleResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="GoogleResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting id="GoogleResolver_use_gdrive" type="bool" label="Use external GDrive addon if installed" default="false"/>
		<setting label="gounlimited.to" type="lsep"/>
		<setting id="GoUnlimitedResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="GoUnlimitedResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="GoUnlimitedResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="grifthost" type="lsep"/>
		<setting id="GrifthostResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="GrifthostResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="GrifthostResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="HDvid" type="lsep"/>
		<setting id="HDvidResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="HDvidResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="HDvidResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="holavid" type="lsep"/>
		<setting id="HolaVidResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="HolaVidResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="HolaVidResolver_login" type="bool" label="login" default="true" visible="false"/>
		<setting label="hugefiles" type="lsep"/>
		<setting id="HugefilesResolver_priority" type="number" label="Priority" default="100"/>
		<setting id="HugefilesResolver_enabled" type="bool" label="Enabled" default="true"/>
		<setting id="HugefilesResolver_login" type="bool" label="login" default="true" visible="false"/>
	</category>
</settings>